*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1{
    font-family: Georgia, serif;
    font-size: 5rem;
}

p{
    font-size: 2rem;
}

.textsContainer{
    padding: 1rem;
}

.imagesContainer{
    display: flex;
}

.image1{
    background-image: url('assets/tree.jpg');
    height: 400px;
    width: 50vw;
    background-size: cover;
}

/* max-width, max-height, min-width, min-height -> OS MAIS UTILIZADOS*/

@media (max-width: 600px) {
    h1{
        font-size: 4rem;
    }

    p{
        font-size: 2rem;
    }

    .imagesContainer{
        flex-direction: column;
    }

    .image1{
        width: 100vw;
    }
}

/* PODE SER UM RANGE DE TAMANHOS */
/* @media (min-width: 600px) and (max-width: 800px){
    body{
        background-color: blue;
    }
} */

@media (min-width: 600px) {
    body{
        background-color: blue;
    }
}

/* TELAS GRANDES -> 1200PX */
/* TABLETS -> 700px e 800px */
/* CELULARES -> 700px ou menos */

/* orientation: portrait ou landscape */
@media (orientation: landscape){
    body{
        background-color: red;
    }
}